---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
import Videos from "../components/Videos.astro";
---

<!DOCTYPE html>
<html lang="es-CL">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header title={SITE_TITLE} />
		<h1 class="font-serif text-3xl mb-8">Sitio Oficial de la Tanque Gang</h1>
		
		<main class="mb-8">
			<Videos/>	
		</main>
		<Footer />
	</body>
</html>
 <style>
	h1{
		text-align: center;	
	}
 </style>