---
import HeaderLink from "./HeaderLink.astro";
import { SITE_TITLE } from "../consts";
import logoig from "../images/logo-ig.png";
import logoyt from "../images/logo-yutu.png";
import logotik from "../images/logo-tiktok.png";
---

<header>
  <nav class="flex justify-center space-x-8">
    <HeaderLink href="https://www.youtube.com/@tanquegang666" target="_blank" class="flex items-center"><img class="h-10 mr-2" src={logoyt}>
		<span class="font-medium">Youtube</span>
    </HeaderLink>
    <HeaderLink href="https://www.tiktok.com/@tanquegang" target="_blank" class="flex items-center"><img class="h-10 mr-2" src={logotik}>
		<span class="font-medium">TikTok</span>
    </HeaderLink>
    <HeaderLink href="https://www.instagram.com/tanque.gang/" target="_blank" class="flex items-center"><img class="h-10 mr-2" src={logoig}>
		<span class="font-medium">Instagram</span>
    </HeaderLink>
  </nav>
</header>
<style>
  header {
    margin: 1em 0 3em;
  }
  h2 {
    margin: 0.5em 0;
    text-align: center;
  }
  nav {
    text-align: center;
  }

</style>
